* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --verde: #f7f0ba;
    --cyan: #e0dba4;
    --azul: #a9cba6;
    --morado: #7ebea3;
    --rosa: #53a08e;
}
html {
    scroll-behavior: smooth;
}
body {
    min-width: 100%;
    min-height: 100%;
}
body {
    background: linear-gradient(90deg, var(--azul),var(--morado),var(--rosa));
    background-size: 250% 250%;
    animation: gradient-animation 8s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.grid {
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 95% 10vh;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
header {
    background-image: linear-gradient(45deg, var(--verde), var(--cyan));
    grid-area: header;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 1px 5px black;
}
img {
    height: 5rem;
    width: 5.5rem;
    filter: drop-shadow(0px 0px 5px black);
    object-position: center;
    animation: inicio 1s;
}
h1 {
    color:#050505;
    text-align: center;
    animation: inicio 1s;
}
@keyframes inicio {
    0% {
        filter: opacity(0);
    }
    100% {
        filter: opacity(1);
    }
}
nav {
    grid-area: nav;
    display: none;
}
li {
    background-color: black;
    display: flexbox;
    border-left: 1px solid white;
    height: 2.5rem;
    flex: 1;
    padding: 8px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    transition: all .1s ease-in;
}
li:hover {
    background-color: #fff;
    cursor: pointer;
}
li:hover > a {
    color: black;
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a {
    color: #000;
    text-decoration: underline;
    font-size: .8rem;
}
.li__a > a{
    color: white;
}
a:hover {
    color: #888;
}
section {
    background-color: #fff;
    grid-area: main;
    flex: 1;
    margin: 30px 10px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 10px black;
    transition: all 0.6s;
    animation: inicio 2s ease;
}
iframe,video {
    box-shadow: 0px 0px 10px black;
    margin: 1rem 0px;
}
video {
    box-shadow: 0px 0px 0px black;
}
.seccion1 {
    border: 3px solid var(--azul);
    background-color: var(--azul);
    flex: 1;
}
.seccion1:hover {
    background-color: #fff;
    flex: 2;
}
.seccion2 {
    border: 3px solid var(--morado);
    background-color: var(--morado);
    flex: 1;
}
.seccion2:hover {
     background-color: #fff;
     flex: 2;
}
.seccion3 {
    border: 3px solid var(--rosa);
    background-color: var(--rosa);
    flex: 1;
}
.seccion3:hover {
    background-color: #fff;
    flex: 2;
}
p {
    font-size: 1rem;
    font-weight: 200;
}
h3 {
    color: #000;
}
.text1 {
    font-size: 1.2rem;
}
p::selection h3::selection {
    color: white;
    background-color: black;
}
footer {
    background-image: linear-gradient(-45deg, var(--cyan),var(--verde));
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px -2px 10px black;
}
.autor {
    color: #000;
    font-size: 0.8rem;
}
.flex {
    display: flex;
    flex-direction: row;
}
@media screen and (max-width:600px) {
    header {
        background-color: #fff;
        grid-area: header;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    h1 {
        color:#050505;
        text-align: center;
        animation: inicio 1s;
        font-size: 1rem;
    }
    nav {
        display: block;
        margin-top: -2px;
    }
    .flex {
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1;
    }
    .grid {
        display: grid;
        gap: 2px;
        grid-template-columns: 100%;
        grid-template-rows: 15vh 5vh 100% 10vh;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
    }
    .seccion1:active {
        background-color: var(--azul);
    }
    .seccion2:active {
         background-color: var(--morado);
    }
    .seccion3:active{
        background-color: var(--rosa);
    }
    img {
        height: 3.9rem;
        width: 3.9rem;
    }
    .autor {
        color: #000;
        font-size: .8rem;
    }
}